.table-full {
    width: 100%;
}

.icon-size-30 {
    font-size: 30px;
}

.icon-size-20 {
    font-size: 20px;
}

.action-container {
    padding-left: 5px;
    padding-right: 5px;
}

.home-image {
    width: 100%;
    height: 600px;
}


.reveal-modal {
    min-height: 300px;
}

.ng-modal {
    transition: 0.2s ease-in-out opacity;
}

    .ng-modal .reveal-modal {
        display: block;
        visibility: visible;
    }

    .ng-modal .reveal-modal-bg {
        display: block;
    }

    .ng-modal.ng-hide-add,
    .ng-modal.ng-hide-remove {
        display: block !important;
    }

    .ng-modal.ng-hide {
        opacity: 0;
    }

.reveal-modal {
    transition: 0.2s ease-in-out all;
    transition-delay: 0.2s;
    -webkit-transform: scale(1);
    opacity: 1;
}

    .reveal-modal.ng-hide-add,
    .reveal-modal.ng-hide-remove {
        display: block !important;
    }

    .reveal-modal.ng-hide {
        -webkit-transform: scale(0.9);
        opacity: 0;
    }

.demo .button {
    margin: 60px auto 0;
}

    .demo .button, .demo .button:focus {
        outline: none;
    }



figure.dash-image {
    position: relative;
    width: 100%;
    margin: 0px;
}

    figure.dash-image:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 2000px solid transparent;
        border-bottom: 60px solid white;
    }

figure.dash-image img {
    display: block; /* removes extra padding */
    position: relative;
    z-index: 0;
    width: 100%;
    max-height: 600px;
}
