<div class="pizza-imagebg">
    <img src="img/pizza3.jpg" class="bg shadow" />
</div>
<div class="row">
    <div class="large-12 columns pizza-recentorders">
        <div class="row pizza-recentorders-header">
            <div class="large-6 columns">
                <h4>Recent Orders <span ng-show="isLoggedIn()">({{tableParams.total()}})</span></h4>
            </div>
            <div class="large-6 columns">
                <a href="#/neworder" class="right button hint--bottom hint--rounded" data-hint="Click me! Click me please!"><i class="fi-plus dash-neworder"></i>New Order</a>
            </div>
        </div>
        <div class="pizza-recentorders-container">
            <table ng-table="tableParams" class="table-full" template-pagination="custom/pager" id="recent-orders">
                <tbody>
                    <tr ng-repeat="o in $data">
                        <td data-title="'Date'">
                            <strong>{{ o.Date | date:'MM/dd/yyyy' }}</strong>
                            <div>{{ o.Date | date:'h:mma' }}</div>
                        </td>
                        <td data-title="'Pizza'">
                            <div ng-repeat="p in o.Pizzas">
                                <span>
                                    <strong>{{p.Size.Name}}</strong> / <strong>{{p.Crust.Name}}</strong> / <strong>{{p.Sauce.Sauce.Name}} ({{p.Sauce.SauceLevel.Name}})</strong>
                                </span>
                                <br />
                                <div class="pizza-toppingsshort">
                                    <i ng-hide="p.Toppings.length > 0">No Toppings on this pizza, are you crazy? or just boring...</i>
                                    <i ng-repeat="t in p.Toppings | orderBy: 'Topping.Name'">
                                        {{t.Topping.Name}}{{$last ? '' : ', '}}
                                    </i>
                                </div>
                            </div>
                        </td>
                        <td data-title="'Actions'" class="right">
                            <span class="hint--bottom hint--rounded" data-hint="Order this pizza again">
                                <a href="#/neworder/{{o.Pizzas[0].Id}}"><i class="fi-annotate icon-size-30"></i></a>
                            </span>
                            <!--<script src="https://apis.google.com/js/platform.js"></script>
                                <div class="g-plus" data-action="share" data-annotation="none"
                                     data-href="{{o.ShareLink}}"></div>-->
                            <span class="hint--bottom hint--rounded" data-hint="Share this order">
                                <a ng-click="toggleShareModal(o)"><i class="fi-share icon-size-30"></i></a>
                            </span>
                            <span class="hint--bottom hint--rounded" data-hint="Delete this order from your history">
                                <a ng-click="removeOrder(o.Id)"><i class="fi-x icon-size-30"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="isLoggedIn()" class="pizza-norordersmsg">You must <a href="#/login">login</a> to see past orders</div>
            <div ng-show="isLoggedIn() && orders.length == 0" class="pizza-norordersmsg">You have no past orders. Why don't you order something already!</div>
        </div>
    </div>
</div>

<div pizza-modal show='shareModalShown'>
    <form name="shareform" ng-submit="shareOrder()">
        <fieldset>
            <legend>Share Order</legend>
            <div class="row">
                <div class="small-8 columns">
                    <div ng-repeat="p in shareModel.order.Pizzas">
                        <span>
                            <strong>{{p.Size.Name}}</strong> / <strong>{{p.Crust.Name}}</strong> / <strong>{{p.Sauce.Sauce.Name}} ({{p.Sauce.SauceLevel.Name}})</strong>
                        </span>
                        <br />
                        <div class="pizza-toppingsshort">
                            <i ng-hide="p.Toppings.length > 0">No Toppings on this pizza, are you crazy? or just boring...</i>
                            <i ng-repeat="t in p.Toppings | orderBy: 'Topping.Name'">
                                {{t.Topping.Name}}{{$last ? '' : ', '}}
                            </i>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <label>Share Link</label>
                    <input type="text" value="{{shareModel.order.ShareLink}}" />
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <label>Email</label>
                    <input type="email" placeholder="Email" name="email" ng-model="shareModel.email" required />

                    <div class="error"
                         ng-show="shareform.email.$dirty && shareform.email.$invalid">
                        <small class="error"
                               ng-show="shareform.email.$error.required">
                            Email is required.
                        </small>
                        <small class="error"
                               ng-show="shareform.email.$error.email">
                            That is not a valid email. Please input a valid email.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <label>Message</label>
                    <textarea placeholder="Enter a custom message" name="message" ng-model="shareModel.message"
                              ng-maxlength="250"></textarea>
                    <div class="error"
                         ng-show="shareform.message.$dirty && shareform.message.$invalid">
                        <small class="error"
                               ng-show="shareform.message.$error.maxlength">
                            Your name cannot be longer than 250 characters
                        </small>
                    </div>
                </div>
            </div>
            <div class="small-8 columns">
                <button type="submit"
                        ng-disabled="shareform.$invalid"
                        class="button radius">
                    Share Order
                </button>
            </div>
        </fieldset>
    </form>
</div>