<div data-alert class="alert-box" ng-show="existing">
    This order was place on {{existingDate | date: "yyyy-MM-dd"}} by {{existingOrderBy}}.
    <!--<a class="close">&times;</a>-->
</div>
<div class="row">
    <form name="neworderform" ng-submit="createOrder()">
        <div class="row">
            <div class="large-6 columns">
                <h4>Create Pizza</h4>
                <span>Crust</span>
                <select name="crust_id" ng-model="selectedPizza.Crust" ng-options="crust.Name for crust in resources.Crusts"
                        required>
                    <option value="">-- choose crust --</option>
                </select>
                <!--<dl class="tabs" data-tab>
                        <dd ng-repeat="crust in resources.Crusts" ng-click="mthod({{crust.Id}})"><a>{{ crust.Name }}</a></dd>
                    </dl>-->
                <span class="error" ng-show="neworderform.crust_id.$error.required">Select a Crust </span>
                <br />

                <div class="row">
                    <div class="large-6 columns">
                        <span>Sauce</span>
                        <select name="sauce_id" ng-model="selectedPizza.Sauce" ng-options="sauce.Name for sauce in resources.Sauces"
                                ng-required="true">
                            <option value="">-- choose sauce --</option>
                        </select>
                        <span class="error" ng-show="neworderform.sauce_id.$error.required">Select a Sauce </span>
                    </div>
                    <div class="large-6 columns">
                        <span>Level</span>
                        <select name="saucelevel_id" ng-model="selectedPizza.SauceLevel" ng-options="level.Name for level in resources.SauceLevels"
                                ng-required="true">
                            <option value="">-- choose sauce level --</option>
                        </select>
                        <span class="error" ng-show="neworderform.saucelevel_id.$error.required">Select a Sauce Level</span>
                    </div>
                </div>
                <br />

                <span>Size</span>
                <select name="size_id" ng-model="selectedPizza.Size" ng-options="size.Name for size in resources.Sizes"
                        ng-required="true">
                    <option value="">-- choose size --</option>
                </select>
                <span class="error" ng-show="neworderform.size_id.$error.required">Select a Size </span>
                <br />

                <span>Toppings</span>
                <!--<ul class="toppings">
                    <li ng-repeat="t in resources.Toppings">-->
                <div>
                    <div class="topping-item"
                         ng-repeat="t in resources.Toppings"
                         ng-class="{ 'topping-selected' : selectedPizza.Toppings.indexOf(t) > -1 } "
                         ng-click="toggleTopping(t)">

                        {{ t.Name }}
                        <div class="{{t.Class}}"></div>
                    </div>
                </div>
                <!--</li>
                </ul>-->
                <!--<span class="error" ng-show="neworderform.selectToppings.$error.required">Select a Topping </span>-->
                <br />
            </div>
            <div class="large-6 columns">
                <h4>Confirm</h4>
                <div data-alert class="alert-box info radius pizza-confirm">
                    <div>
                        <div><strong>Crust: </strong>{{ selectedPizza.Crust.Name }}</div>
                        <br />
                    </div>
                    <div>
                        <div><strong>Sauce: </strong>{{ selectedPizza.Sauce.Name }} ({{ selectedPizza.SauceLevel.Name }})</div>
                        <br />
                    </div>
                    <div>
                        <div><strong>Size: </strong>{{ selectedPizza.Size.Name }}</div>
                        <br />
                    </div>
                    <div>
                        <strong>Toppings: </strong>
                        <br />
                        <span ng-hide="selectedPizza.Toppings.length > 0">No Toppings Selected. <i>What are you, some kind of freak?</i></span>
                        <ul>
                            <li ng-repeat="t in selectedPizza.Toppings | orderBy: 'Name'">
                                {{ t.Name }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-centered columns">
                <button type="button"
                        class="button radius right"
                        ng-click="toggleConfirmModal()">
                    Confirm Order
                </button>
            </div>
        </div>
        <div pizza-modal show='confirmModalShown'>
            <div class="row">
                <div class="large-6 columns">
                    <fieldset>
                        <legend>Order Confirmation</legend>
                        <div>
                            <div><strong>Crust: </strong>{{ selectedPizza.Crust.Name }}</div>
                            <br />
                        </div>
                        <div>
                            <div><strong>Sauce: </strong>{{ selectedPizza.Sauce.Name }} ({{ selectedPizza.SauceLevel.Name }})</div>
                            <br />
                        </div>
                        <div>
                            <div><strong>Size: </strong>{{ selectedPizza.Size.Name }}</div>
                            <br />
                        </div>
                        <div>
                            <strong>Toppings: </strong>
                            <br />
                            <span ng-hide="selectedPizza.Toppings.length > 0">No Toppings Selected</span>
                            <ul class="pizza-toppingslist">
                                <li ng-repeat="t in selectedPizza.Toppings | orderBy: 'Name'">
                                    {{ t.Name }}
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <div class="large-6 columns" ng-if="!isLoggedIn()">
                    <fieldset>
                        <legend>Information Required</legend>
                        <div>
                            You are <strong>not</strong> logged in!
                        </div>
                        <div>
                            Don't worry you can still order, just enter your information below.
                        </div>
                        <br />
                        <label>Email</label>
                        <input type="email" placeholder="Email" name="email" ng-model="anonUser.Email" required />
                        <div class="error"
                             ng-show="neworderform.email.$dirty && neworderform.email.$invalid">
                            <small class="error"
                                   ng-show="neworderform.email.$error.required">
                                Your email is required.
                            </small>
                            <small class="error"
                                   ng-show="neworderform.email.$error.email">
                                That is not a valid email. Please input a valid email.
                            </small>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <fieldset>
                    <legend>Notifications</legend>
                    <div class="large-6 columns">
                        <div>
                            <div class="row pizza-notifyrow">
                                <div class="pizza-notify">Email</div>
                                <div class="switch radius hint--right" data-hint="Let us fill your spam folder!">
                                    <input id="emailchk" type="checkbox" ng-model="orderNotifications.Email" />
                                    <label for="emailchk">Email</label>
                                </div>
                            </div>
                            <div class="row pizza-notifyrow">
                                <div class="pizza-notify">Text</div>
                                <div class="switch radius hint--right" data-hint="We promise not to text you too late!">
                                    <input id="textchk" type="checkbox" ng-model="orderNotifications.Text" />
                                    <label for="textchk">Text</label>
                                </div>
                            </div>
                            <div class="row pizza-notifyrow">
                                <div class="pizza-notify">Push</div>
                                <div class="switch radius hint--right" data-hint="Push it, Just Push it!">
                                    <input id="pushchk" type="checkbox" ng-model="orderNotifications.Push" />
                                    <label for="pushchk">Push</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-6 columns pizza-notifywarning" ng-show="!orderNotifications.Email && !orderNotifications.Text && !orderNotifications.Push">
                        You don't want us to let you know when your pizza is ready? But we spent so much time on this :(
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <button type="button"
                            class="button radius alert hint--bottom"
                            data-hint="Go back and edit your order"
                            ng-click="toggleConfirmModal()">
                        Edit Order
                    </button>
                </div>
                <div class="small-6 columns">
                    <button type="submit"
                            ng-disabled="!isLoggedIn() && neworderform.$invalid"
                            class="button radius right hint--bottom hint--bounce"
                            data-hint="All systems go, let's get this party started!">
                        Send Order
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
